.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.input-form input,
.input-form label {
  margin: 0 auto;
  width: 400px;
}

.input-form input {
  display: block;
  height: 50px;
  outline: none;
  font-size: 16px;

  margin: 10px auto 20px;
  padding: 0 20px;

  border: none;
  border: 3px solid #cacaca;
  border-radius: 15px;
  transition: border 0.3s;

  position: relative;
}

.input-form input:focus,
.input-form input:hover {
  border: 3px solid #ffe300;
  outline: none;
}

.input-form input:focus,
.input-form input:hover {
  border: 3px solid #ffe300;
  outline: none;
}

.input-form label.required::after {
  content: ' *';
  color: red;
}

.input-form input.submit {
  margin-top: 30px;
  width: 250px;
  background: none;
  cursor: pointer;
}

.input-form input.error {
  border: 3px solid red;
}

.Sign #error-messages {
  font-size: 20px;
  color: red;
  user-select: none;
}
