.CommentsList {
  margin-top: 10px;
  margin-left: 40px;
}

.SinglePost .create-comment {
  margin-top: 10px;
  margin-left: 40px;
}

.SinglePost .create-comment .input-comment {
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px 10px 10px 0;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid gray;
  resize: none;
  margin-bottom: 10px;
}

.SinglePost .create-comment .input-submit {
  position: relative;
  float: right;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 3px;
}

.SinglePost .create-comment .input-submit:hover {
  background-color: #ffe300;
}

.SinglePost .update-comment-form {
  position: absolute;
  left: 0;
  right: 0;
  top: -999px;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  z-index: 99999;
}

.SinglePost .update-comment-form.active {
  top: 0;
}

.SinglePost .update-comment-form .input-form {
  position: relative;
  width: 70%;
  min-width: 700px;
  height: 600px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  border-radius: 35px;
  border: 3px solid #ffe300;
  transition: top 0.6s;
  top: -999px;
}

.SinglePost .update-comment-form .input-content {
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 24px;
  border-bottom: 3px solid gray;
  transition: border 0.3s;
  resize: none;
  margin-bottom: 10px;
}

.SinglePost .update-comment-form .input-form.active {
  top: 0;
}

.SinglePost .update-comment-form .form-title {
  margin-bottom: 20px;
}

.SinglePost .update-comment-form .closer {
  color: gray;
  font-weight: 100;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

.SinglePost .update-comment-form input {
  width: 400px;
  height: 50px;
  display: block;
}
